doctype html
html
  head
    meta(charset="utf8")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans")
  body
    .main
      include ../partials/header.pug 
      include ../partials/poster.pug
      include ../partials/categories.pug
      include ../partials/about.pug
      