include /partials/mixins

.about 
    .about__wrapper 
        .about__pics 
            .about__wrapper-img
                img(class="about__pics-img2" src="../assets/images/about2.jpg", alt="Pics")
                img(class="about__pics-img1" src="../assets/images/about1.jpg", alt="Pics")
        .swiper.about-swiper
            .swiper-wrapper.about-wrapper
                .swiper-slide.about-slide
                    img(class="about__pics-img1" src="../assets/images/about1.jpg", alt="Pics")
                .swiper-slide.about-slide
                    img(class="about__pics-img2" src="../assets/images/about2.jpg", alt="Pics")
        .about__info
            +infoblock('about', 'About Musik', 'Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.')
            +button('about', 'Learn more', 'arrow')
        +confetti('conf3', 'about_zigzag')