.events
    .events__wrapper
        .events__schedule
            h3.events__title Event Schedule 
            .events__days
                +event('Day 01', '16 August')
                +event('Day 02', '17 August')
                +event('Day 03', '18 August')
        .events-table
    +confetti('tria2', 'events_triangle')
    +confetti('zigred', 'events_zigred')
    +confetti('zigblue', 'events_zigblue')
    +confetti('balls', 'events_balls')
