include ../partials/mixins

.events
    .events__wrapper
        #target-anchor.events__schedule
            h3.events__title Event Schedule 
            .events__days
                +event('Day 01', '16 August')
                +event('Day 02', '17 August')
                +event('Day 03', '18 August')
        .events-table
            .events-table__wrapper 
                .events-table__header
                    p.events-table__title-time= 'Time'
                    p.events-table__title-description= 'Description'
                    p.events-table__title-artists= 'Artists'
                    p.events-table__title-network
                .events-table__list
                img.events-loader(src="../assets/images/loader.gif", alt="Loader")
    +confetti('tria2', 'events_triangle')
    +confetti('zigred', 'events_zigred')
    +confetti('zigblue', 'events_zigblue')
    +confetti('balls', 'events_balls')
