include /partials/mixins

footer.footer 
    .contacts__wrapper 
        .contacts__details 
            .contacts__info 
                h3.contacts__info-title Contact us
                p.contacts__info-text Have an inquiry? We’ll be happy to assist you
            .contacts__block
                +sign('call', '+92 333 6527366')
                +sign('mail', 'abuzer@greelogix.com')
                +sign('map', 'Plot 252, Block L Phase 2 Johar Town, Lahore, PK')
            img.contacts-figure(src="../assets/images/fig.png", alt="Figure")
        .contacts__form
            form(action="", method="post").contacts__form-wrapper
                h3.contacts__form-title Fill in your details
                .contacts__about-wrapper
                    +data('Name', 'line')
                    +data('Email', 'line')
                    +data('Message', 'lineblue', 'textarea')
                +button('blue', 'Submit')
            img.contacts-figure2(src="../assets/images/fig2.png", alt="Figure")
    .footer__wrapper 
        .footer__block 
            .footer__logo
                +logotype
            nav.footer-info
                ul.footer-info__nav 
                    +link('home')
                    +link('company')
                    +link('blog')
                    +link('contact us')
                    +link('sitemap')
        .footer-info__media
            .footer-info__socials
                +media('book')
                +media('twit')
                +media('linked')
                +media('insta')
            span.footer-info__rights © musik.com, 2021
        