include /partials/mixins

.genres
    .genres__wrapper 
        h3.genres__text #[span.genres__span-explore Explore] By Category
        .genres-elements
            +melody('(252, 82, 82, 0.3)', 'mixer', 'Pop')
            +melody('(255, 163, 163, 0.3)', 'pipes', 'Folk')
            +melody('(56, 29, 219, 1)', 'saxophone', 'Instrumental', true)
            +melody('(192, 0, 150, 0.3)', 'guitar', 'Rock')
            +melody('(132, 196, 255, 0.3)', 'trumpet', 'Jazz')
        .swiper.genres-swiper 
            .swiper-wrapper
                +melody('(252, 82, 82, 0.3)', 'mixer', 'Pop', null, true)
                +melody('(255, 163, 163, 0.3)', 'pipes', 'Folk', null, true)
                +melody('(56, 29, 219, 1)', 'saxophone', 'Instrumental', true, true)
                +melody('(192, 0, 150, 0.3)', 'guitar', 'Rock', null, true)
                +melody('(132, 196, 255, 0.3)', 'trumpet', 'Jazz', null, true)
            .swiper-button-prev.genres-prev
            .swiper-button-next.genres-next
    +confetti('frame2', 'genres_frame-red')
    +confetti('frame1', 'genres_frame-blue')
    +confetti('conf5', 'genres_line')
    +confetti('conf4', 'genres_ball')