include /partials/mixins

.header 
  .header__logo 
    img(src="../assets/images/Logo.png", alt="Logo")
  .header__info 
    ul.header__nav 
      li.header__item home 
      +link('speakers')
      +link('schedule')
      li.header__item contact us
  +button('white', 'Get tickets') 