include /partials/mixins

.header 
  .header__logo 
    +logotype
  .header__info 
    ul.header__nav 
      +link('home')
      +link('speakers', true)
      +link('schedule', true)
      +link('contact us')
    +button('white', 'Get tickets') 