include /partials/mixins

.header 
  .header__logo 
    img(src="../assets/images/Logo.png", alt="Logo")
  .header__info 
    ul.header__nav 
      //- +link('home') 
      +link('speakers')
      +link('schedule')
      //- +link('contact us')
  +button('white', 'Get tickets') 