include /partials/mixins

.poster 
    .poster-info 
        .poster-info__best The Best experience of music in 2021
        .poster-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae ligula placerat, eleifend ex non, vehicula libero. Suspendisse eget tellus lectus.
        .poster-info__offer 
            +button('red', 'Get started') 
            .poster-info__offer-play 
                 img(src="../assets/images/Play.png", alt="Play")
                 p Watch Video
    .poster-time 22d 13h 46m 18s