include ../partials/mixins

.mentions  
    .mentions__wrapper 
        h3.mentions__title Testimonials
        .mentions__block 
            +mention('ava', 'Ellie James', 'lorem.com')
            +mention('ava2', 'Jhonny Doe', 'ipsum.com')
            +mention('ava3', 'Myne Barack', 'ipsum.com')

