mixin button(theme, value)
    button(class='button-' + theme)= value 

mixin link(el, i)
    li= el 
        a(href="#")
        if (i)
        img(src="../assets/images/arrow-down.png", class="arrow-down") 