.price 
    .price__wrapper 
        .price__caption 
            h2 Choose a Tier that's right for you
        .price__tariff 
            .price-card 
                +tariff('Basic', 100, '1 Seat', 'color1')
                +button('white', 'Get tickets') 
            .price-card 
                +tariff('Standard', 150, '1 Seat', 'color2')
                +button('blue', 'Get tickets')
            .price-card 
                +tariff('Premium', 200, '2 Seats', 'color3')
                +button('white', 'Get tickets')
    +confetti('conf4', 'price_ball')
    +confetti('conf5', 'price_line')
    +confetti('conf6', 'price_tria')