include ../partials/mixins

.singers 
    .singers__wrapper
        .singers__info 
            +infoblock('singers', 'Singers', 'Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.')
            +button('about', 'View all singers', 'arrow')
        .singers-peoples
            .singers-peoples__singer1
                img.singers-peoples__singer1-img1(src="../assets/images/sing1.png", alt="People")
                img.singers-peoples__singer1-img11(src="../assets/images/sing11.png", alt="People")
            .singers-peoples__singer2 
                img.singers-peoples__singer2-img2(src="../assets/images/sing2.png", alt="People")
                img.singers-peoples__singer2-img22(src="../assets/images/sing22.png", alt="People")
            .singers-peoples__singer3 
                img.singers-peoples__singer3-img3(src="../assets/images/sing3.png", alt="People")
                img.singers-peoples__singer3-img33(src="../assets/images/sing33.png", alt="People")
            .singers-peoples__singer4
                img.singers-peoples__singer4-img4(src="../assets/images/sing4.png", alt="People")
                img.singers-peoples__singer4-img44(src="../assets/images/sing44.png", alt="People")
        +confetti('frame3', 'singers_frame-red')
        +confetti('shape', 'singers_frame-shape')
        +confetti('dots', 'singers_frame-dots')