include ../partials/mixins

.sponsors 
    .sponsors__wrapper 
        .sponsors__title 
            h3 Our Sponsors
        .sponsors-brands
            +brand('google')
            +brand('microsoft')
            +brand('airbnb')
            +brand('axure')
            +brand('apple')
            +brand('facebook')
            +brand('nokia')
            +brand('oracle')
        +button('blue', 'Become a Sponsor')
    +confetti('shape2', 'sponsors__shape')
    +confetti('dots2', 'sponsors__dots')
    +confetti('conf7', 'sponsors__tria')
            