.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
}

.about__wrapper {
    height: 520px;
}

.about__pics {
    width: 35%;
}

.about__info {
    width: 35%;
    height: 330px;
}

.about__pics-img1 {
    position: relative;
    top: -430px;
    border-radius: 28px;
}

.about__pics-img2 {
    position: relative;
    left: -60px;
    border-radius: 28px;
}