.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}

.about__caption {
    font-size: xx-large;
    font-family: 'Montserrat';
    margin: 0 auto;
}

.about__item {
    margin: 20px 0px 50px;
}

.about__wrapper-img {
    width: 450px;
    height: 450px;
    display: inline-flex;
    align-items: flex-start;
}

.about__info {
    width: 35%;
    height: 330px;
}

.about__pics-img1 {
    position: relative;
    top: 40px;
    left: -300px;
    border-radius: 28px;
    width: 360px;
    height: fit-content;
}

.about__pics-img2 {
    position: relative;
    left: 20px;
    border-radius: 28px;
    width: 360px;
    height: fit-content;
}

.genres_zigzag {
    width: 120px;
    position: absolute;
    top: 330px;
    left: 70px;
}