.button-blue {
    color: @blue;
  }
  
  .button-red {
    color: @light;
    background: @red;
    display: flex;
    padding: 18px 28px;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 12px;
  }
  
  .button-white {
    color: @blue;
    background: @light;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 12px;
  }
  
  .button-blue, .button-white, .button-red {
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat';
  }