.button_blue {
    color: @light;
    background: @blue;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    border: 1px solid @blue;
    gap: 12px;
  }

  .button_blue:hover {
    background-color: @add4;
  }

  .button_blue, .button_blue:hover,
  .button_white, .button_white:hover {
    transition: .3s;
  }
  
  .button_red {
    color: @light;
    background: @red;
    width: 150px;
    height: 50px;
    font-size: 16px;
  }
  
  .button_white {
    color: @blue;
    background: @light;
    display: flex;
    padding: 15px 25px;
    align-items: center;
    text-transform: uppercase;
    gap: 12px;
  }

  .button_white:hover {
    color: @light;
    background-color: @red;
  }
  
  .button_blue, .button_white, .button_red {
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat';
    justify-content: center;
  }

  .button_about {
    background: @blue;
    color: @light;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat';
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  @media screen and (max-width: 1200px){
  .button_about {
    font-size: 26px;
    height: 80px;
  }
}