.genres {
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.genres__text {
    color: @dark;
    position: relative;
    top: 0px;
    left: 310px;
    width: 250px;
    font-size: 26px;
    margin: 0px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.genres__span-explore {
    color: @blue;
}

.genres-elements {
    display: flex;
    justify-content: space-between;
}

.genres__melody {
    width: 270px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.genres__wrapper {
    gap: 15px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.genres__img {
    width: 30px;
    height: 30px;
}

.genres__name {
    font-weight: 800;
    font-size: 24px;
    font-family: 'Montserrat';
}

.genres__name, .genres__view, .genres__view-color {
    margin: 0px;
}

.genres__name-color, .genres__view-color {
    color: @light;
}

.genres__view, .genres__view-color {
    padding-bottom: 25px;
    font-family: 'Montserrat';
}