.events {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
    }
    &__schedule {
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 130px;
        padding-bottom: 40px;
    }
    &__title {
        margin: 0;
        padding-bottom: 40px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 30px;
    }
    &__days {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__numeration, &__num-of-month {
        font-family: 'Montserrat';
        color: @dark;
    }
    &__numeration {
        font-weight: 800;
        font-size: 18px;
        padding-bottom: 2px;
        opacity: 0.5;
    }
    &__num-of-month {
        font-weight: 700;
        font-size: 12px;
        opacity: 0.3;
    }
    &__line {
        width: 250px;
        height: 4px;
        background: @blue;
        opacity: 0.1;
        margin-top: 10px;
    }
    &__numeration-active, &__num-of-month-active, &__line-active {
        opacity: 1;
    }
    &_triangle {
        top: 2530px;
        right: 100px;
        width: 100px;
    }
    &_zigred {
        top: 3250px;
        right: 50px;
        width: 80px;
    }
    &_zigblue {
        top: 3200px;
        right: 50px;
        width: 80px;
    }
    &_balls {
        top: 3100px;
        left: 50px;
        width: 60px;
    }
    &_triangle, &_zigred, &_zigblue, &_balls {
        position: absolute;
    }
}

.events-table {
    width: 900px;
    border-radius: 24px;
    border: 1px solid rgba(224, 224, 224, 1);
    &__header {
        display: flex;
        background: rgba(56, 29, 219, 0.05);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;

    }
    &__time {
        font-family: 'Raleway';
    }
    &__title-time, &__time {
        width: 25%;
        padding-left: 25px;
    }
    &__title-content, &__content {
        width: 35%;
    }
    &__title-speakers, &__speakers {
        width: 25%;
        padding-left: 30px;
    }
    &__title-network, &__network {
        width: 15%;
        padding-right: 25px;
    }
    &__title-time, &__title-content, &__title-speakers, &__title-network {
        color: @dark;
        font-size: 20px;
        font-family: 'Raleway';
        font-weight: 700;
    }
    &__timing {
        display: flex;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__line {
        width: 100%;
        height: 1px;
        background-color: rgba(224, 224, 224, 1);
    }
    &__content {
        font-family: 'Raleway';
        font-weight: 700;

    }
    &__speaker {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__speakers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    &__person {
        width: -webkit-max-content;
        width: max-content;
    }
    &__person-name {
        font-family: 'Raleway';
        font-weight: 700;
    }
    &__person-stand {
        display: flex;
        align-items: baseline;
        gap: 5px;
        padding-top: 5px;
    }
    &__person-booth {
        font-family: 'Raleway';
        font-weight: 400;
        margin: 0;
        opacity: 0.5;
    }
    &__person-value {
        font-family: 'Raleway';
        font-weight: 700;
        margin: 0;
        opacity: 0.6;
    }
    &__network {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
    &__network-status {
        margin: 0;
        text-align: end;
        font-family: 'Montserrat';
        font-weight: 700;
    }
    &__network-status-live {
        color: @red;
    } 
    &__time, &__content, &__speakers {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    } 
    &__person-img {
        height: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .events {
        &__wrapper {
            overflow: scroll;
            align-items: flex-start;
            width: 100%;
            padding: 0 20px;
        }
        &_zigred {
            top: 7700px;
        }
        &_zigblue {
            top: 7750px;
        }
        &_triangle {
            top: 6800px;
            right: 50px;
        }
        &_balls {
            top: 6700px;
        }
    }
}
