.events {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
    }
    &__schedule {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 130px;
    }
    &__days {
        display: flex;
        gap: 20px;
    }
    &__line {
        width: 250px;
        height: 4px;
        background: @blue;
        opacity: 0.1;
    }
    &_triangle {
        top: 2550px;
        right: 100px;
        width: 100px;
    }
    &_zigred {
        top: 3000px;
        right: 50px;
        width: 80px;
    }
    &_zigblue {
        top: 2950px;
        right: 50px;
        width: 80px;
    }
    &_balls {
        top: 3100px;
        left: 50px;
        width: 60px;
    }
    &_triangle, &_zigred, &_zigblue, &_balls {
        position: absolute;
    }
}
