.events {
    &__wrapper {
        position: relative;
        background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
    }
    &__line {
        width: 250px;
        height: 4px;
        background: @blue;
        opacity: 0.1;
    }
    &_triangle, &_zigred, &_zigblue, &_balls {
        position: absolute;
    }
}
