.header {
    width: 1440px;
    height: 120px;
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 361px;
    }
    
    .header__info {
      display: inline-flex;
      align-items: center;
      gap: 50px;
    }
    
    .header__nav {
      display: inline-flex;
      list-style-type: none;
      gap: 40px;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
      font-family: 'Montserrat';
    }
    
    ul 
      li {
        color: @light;
        cursor: pointer;
      }
    
    .arrow-down {
      width: 10px;
      height: 10px;
      padding-left: 8px;
      cursor: pointer;
    }