body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@red: #FC5252;
@lightred: #FFA3A3;
@lightgrey: #C4C4C4;
@light: #FFFFFF;
@blue: #381DDB;
@dark: #222222;
@add1: #E0E0E0;
@add2: #DB841D;
@add4: #C00096;
@add7: #84C4FF;

.header {
display: inline-flex;
padding: 32px 375px 32px 375px;
justify-content: center;
align-items: center;
gap: 371px;
}

.musik {
width: 1440px;
height: 964px;
}

.button_blue {
  color: @blue;
}

.button_red {
  color: @red;
}

.button_white {
  color: @blue;
  width: 100px;
  height: 30px;
  background-color: @light;
}

.header {
  background-color: @light;
}
