body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.header {
display: inline-flex;
padding: 32px 375px 32px 375px;
justify-content: center;
align-items: center;
gap: 371px;
}

.musik {
width: 1440px;
height: 964px;
}

