body {
  min-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@200;400&display=swap');
}

@red: #FC5252;
@lightred: #FFA3A3;
@lightgrey: #C4C4C4;
@light: #FFFFFF;
@blue: #381DDB;
@dark: #222222;
@add1: #E0E0E0;
@add2: #DB841D;
@add4: #C00096;
@add7: #84C4FF;

.header {
width: 100%;
height: 120px;
display: inline-flex;
justify-content: center;
align-items: center;
gap: 361px;
}

.header-info {
  display: inline-flex;
  align-items: center;
  gap: 50px;
}

.header-nav__ul {
  display: inline-flex;
  list-style-type: none;
  gap: 40px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.header-nav__li, .header-nav__li-img {
  color: @light;
  cursor: pointer;
}

.header-nav__li-img {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.arrow-down {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.poster {
background: url('../images/Img.png'); 
background-size: cover;
width: 100%;
min-height: 700px;
z-index: -10;
position: fixed;
top: 0;
display: flex;
align-items: center;
justify-content: center;
}

.poster-info {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-family: 'Montserrat';
  color: @light;
  margin-bottom: 50px;
}

.poster-info__best {
  text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}

.poster-info__description {
  text-align: center;
  font-family: 'Raleway';
  font-size: 22px;
 font-style: normal;
 font-weight: 200;
 line-height: 32px;
}

.poster-info__offer {
  display: flex;
  gap: 40px;
}

.poster-info__offer-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.poster-info__offer, .poster-info__offer-play  {
  cursor: pointer;
}

.poster-span {
  color: @lightred;
}

.poster-time {
position: fixed;
bottom: 20px;
width: inherit;
height: 150px;
color: transparent; /* прозрачный цвет букв */
-webkit-text-stroke: 1px @light;
opacity: 0.7;
text-align: center;
font-family: Montserrat;
font-size: 144px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.button-blue {
  color: @blue;
}

.button-red {
  color: @light;
  background: @red;
  display: flex;
  padding: 18px 28px;
  align-items: center;
  width: 150px;
  height: 50px;
  gap: 12px;
}

.button-white {
  color: @blue;
  background: @light;
  display: flex;
  padding: 15px 25px;
  align-items: center;
  gap: 12px;
}

.button-blue, .button-white, .button-red {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
