.singers__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.singers__info {
    width: 505px;
}

.singers__caption {
    font-size: xx-large;
    font-family: 'Montserrat';
    margin: 0 auto;
}

.singers__item {
    margin: 20px 0px 50px;
}

.singers_frame-red {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 450px;
}

.singers_frame-shape {
    width: 140px;
    position: absolute;
    top: -30px;
    right: 0px;
}

.singers_frame-dots {
    width: 170px;
    position: absolute;
    top: -32px;
    right: 0px;
}