.singers__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
}

.singers__info {
    width: 505px;
}

.singers__caption {
    font-size: xx-large;
    font-family: 'Montserrat';
    margin: 0 auto;
}

.singers__item {
    margin: 20px 0px 50px;
}

.singers-peoples {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.singers-peoples__singer1, .singers-peoples__singer2,
.singers-peoples__singer3, .singers-peoples__singer4 {
    position: relative;
}

.singers-peoples__singer1-img1, .singers-peoples__singer1-img11,
.singers-peoples__singer4-img4, .singers-peoples__singer4-img44 {
    width: 270px;
}

.singers-peoples__singer2-img2, .singers-peoples__singer2-img22,
.singers-peoples__singer3-img3, .singers-peoples__singer3-img33 {
    width: 210px;
}

.singers-peoples__singer1-img11, .singers-peoples__singer2-img22, 
.singers-peoples__singer3-img33, .singers-peoples__singer4-img44 {
    position: absolute;
    z-index: -10;
}

.singers-peoples__singer1-img1 {
    position: relative;
    padding-top: 50px;
}

.singers-peoples__singer1-img11 {
    top: 80px;
    left: 0px;
}

.singers-peoples__singer2-img2 {
    position: relative;
    left: 20px;
}

.singers-peoples__singer2-img22 {
    top: 50px;
    left: 20px;
}

.singers-peoples__singer3-img3 {
    position: relative;
    padding-top: 50px;
}

.singers-peoples__singer3-img33 {
    bottom: -50px;
    left: 0px;
}

.singers-peoples__singer4-img4 {
    position: relative;
    top: 25px;
    left: 20px;
}
.singers-peoples__singer4-img44 {
    bottom: 10px;
    right: -20px;
}

.singers_frame-red {
    width: 100px;
    position: absolute;
    left: 40px;
    top: 580px;
}

.singers_frame-shape {
    width: 120px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.singers_frame-dots {
    width: 140px;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media screen and (max-width: 1200px) {
    .singers {
        width: 100%;
        padding: 0 20px;
    }
    .singers__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .singers__info {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .singers__caption {
        font-size: 42px;
    }
    .singers__item {
        font-size: 23px;
        text-align: center;
    }
    .singers-peoples {
        width: auto;display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: center;
    }
    .singers-peoples {
        &__singer1-img1 {
        padding-top: 0px;
        position: static;
    }
        &__singer2-img2 {
        left: 0px;
        position: static;
    }
        &__singer3-img3 {
        padding-top: 0px;
        position: static;
    }
        &__singer4-img4 {
        top: 0px;
        left: 0px;
        position: static;
    }
    }
    .singers-peoples__singer1-img1, .singers-peoples__singer1-img11,
    .singers-peoples__singer4-img4, .singers-peoples__singer4-img44 {
    width: 100%;
    }
    .singers-peoples__singer2-img2, .singers-peoples__singer2-img22,
    .singers-peoples__singer3-img3, .singers-peoples__singer3-img33 {
    width: 100%;
    }
}