.sponsors__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sponsors__title 
    h3 {
    font-size: 30px;
    font-family: Montserrat;
    margin: 0 auto;
}