.sponsors__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 30px;
}

.sponsors__title 
    h3 {
    font-size: 30px;
    font-family: Montserrat;
    margin: 0 auto;
}

.sponsors-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.sponsors-brands__logo {
    padding: 20px 25px;
}

.sponsors__shape, .sponsors__dots, .sponsors__tria {
    position: absolute;
}

.sponsors__shape {
    width: 120px;
    top: 4350px;
}

.sponsors__dots {
    width: 140px;
    top: 4350px;
    left: -5px;
}
.sponsors__tria {
    width: 60px;
    top: 4400px;
    left: 1250px;
}

@media screen and (max-width: 1200px) {
    .sponsors {
        width: max-content;
    }
    .sponsors__wrapper {
        width: 100%;
    }
    .sponsors-brands {
        width: 450px;
        gap: 20px;
    }
    .sponsors-brands__logo {
        padding: 10px 0;
    }
    .sponsors__dots, .sponsors__shape {
        top: 4000px;
        z-index: -10;
    }
    .sponsors__tria {
        top: 7700px;
        left: 250px;
        z-index: -10;
    }
}