.genres-swiper {
    display: none;
}
.about-swiper {
    display: none;
}
.singer-swiper {
    display: none;
}
.mention-slide {
    opacity: .3;
    display: flex;
    justify-content: center;
}
.mention-mobile-swiper {
    display: none;
}
.mention-prev, .mention-next {
    color: @dark;
}
.mention-prev {
    left: 100px;
}
.mention-next {
    right: 100px;
}
.gallery-mobile-swiper {
    display: none;
}
.gallery-slide {
    margin-right: 0px;
    display: flex;
    justify-content: center;
}
.gallery-prev {
    left: 50px;
}
.gallery-next {
    right: 50px;
}
.gallery-slide {
    opacity: 1;
}
.gallery-prev, .gallery-next {
    top: 34%;
    color: @dark;
}
.swiper-slide-active {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .genres-swiper {
        display: flex;
        width: 100%;
        margin: 0 auto;
    .genres-button-next, .genres-button-prev {
        color: @blue;
    }
    .swiper-wrapper {
        display: flex;
        box-sizing: content-box;
    }
    .genres-slide {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    }
    
    .singer-swiper {
        display: flex;
        width: 100%;
    }
    .singer-wrapper {
        display: flex;
        align-items: center;
    }
    .singer-slide {
        width: 100%;
    }
    .singer-slide img {
        width: 100%;
    }

    .mention-swiper {
        display: none;
    }
    .mention-mobile-swiper {
        display: flex;
        width: 100%;
    }
    .mention-mobile-slide {
        opacity: .3;
    }
    .swiper-slide-active {
        opacity: 1;
    }
    .mention-mobile-prev, .mention-mobile-next {
        color: @dark;
    }

    .gallery-swiper {
        display: none;
    }
    .gallery-mobile-swiper {
        display: flex;
        width: 100%;
    }
    .gallery-prev, .gallery-next {
        color: @light;
        top: 37%;
    }
}